*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    outline: none

.app
    display: flex
    width: 100%
    height: 100vh
    align-items: center
    justify-content: center
    flex-direction: column

.alert
    position: absolute
    top: 30px
    width: 100%
    &.none
        display: none
    &_text
        text-align: center
        border-radius: 10px
        border: 2px solid #ff0000
        margin: 0 30px
        padding: 15px 0
        color: #fff
        background: #ff7070

.sign
    width: 100%
    margin-top: 30px
    &_form
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 10px 30px 0 30px
    &_title
        font-weight: 500
        margin-bottom: 5px
        color: #353535

    &_input
        padding: 12px 20px
        border-radius: 5px
        border: 2px solid #0084db
        transition: all .1s linear
        &:focus
            border: 2px solid #57bcff

    &_link
        text-align: center
        margin-top: 10px

    &_btn
        position: absolute
        bottom: 0
        width: 100%
        border: none
        color: #fff
        // border-radius: 20px
        padding: 20px 0
        margin-top: 30px
        background: #0fb900
        transition: all .2s linear

        &:active
            background: #00fff2

.title
    font-size: 26px
    font-weight: 500

.header
    position: fixed
    top: 0
    left: 0
    background: #fff
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 20px
    box-shadow: 0px 0px 13px #9f9f9f
    &__title
        font-size: 20px

.main
    margin-top: 80px
    &_item
        overflow: hidden
        background: #ececec
        border-radius: 15px
        margin: 0 20px 30px 20px

        &_fill
            margin: 20px 20px

        &_content
            margin-bottom: 10px
            display: flex
            align-items: center
            justify-content: space-between

        &_title
            font-weight: 600
            font-size: 20px

        &_img
            height: 180px
            width: 100%
            background-repeat: no-repeat
            background-size: cover
            background-position: center

.movie
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 80px

    &_title
        font-size: 26px
        margin-top: 15px

    &_img
        background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/de1a9359-82e1-445f-9bcb-dc5a422eeec4/1920x)
        height: 400px
        width: 90%
        background-repeat: no-repeat
        background-size: contain
        background-position: center

    &_content
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 10px
        width: 80%

    &_subtitle
        font-size: 20px
        margin-top: 20px

    &_about
        width: 80%
        margin-top: 5px

    &_input input
        width: 80vw
        margin-top: 20px
        padding: 10px 20px
        border: 2px solid #bdbdbd
        border-radius: 5px

    &_btn
        margin-top: 15px
        width: 100%
        background: #0fb900
        text-align: center
        color: #fff
        padding: 20px 0

        &.not-user
            background: #002fff


.backbutton
    position: fixed
    bottom: 20px
    right: 20px
    border-radius: 50%
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    background: #008cff
    color: #fff


.order
    padding-top: 60px
    &_item
        overflow: hidden
        border-radius: 10px
        display: flex
        height: 250px
        margin: 20px
        background: #d4d4d4
    &_img
        background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/de1a9359-82e1-445f-9bcb-dc5a422eeec4/1920x)
        width: 40%
        background-repeat: no-repeat
        background-size: cover
        background-position: center

    &_content
        padding: 10px
        display: inline-flex
        width: 60%
        flex-direction: column

    &_standart
        margin-top: 15px

    &_title
        font-size: 1.1rem
    &_count
        font-size: 0.9rem


.menu
    margin-top: 100px
    & > * 
        margin-top: 5px

    &_title
        text-align: center
        margin-bottom: 20px
        font-size: 1.2rem
        font-weight: 500